@charset "UTF-8";

/*----- 共通 -----*/
html {
  font-size: 100%;
}
body {
  font-family: Georgia, source-han-serif-japanese, 游明朝, YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", メイリオ, Meiryo, serif;
  line-height: 2.0;
  color: #00336D;
}
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 130px 20px;
}
h2 {
  font-size: 40px;
  text-align: center;
  padding-bottom: 100px;
}
a {
  text-decoration: none;
  color: #fff;
}
.title-border {
  display: flex;
  align-items: center;
}
.title-border:before, .title-border:after {
  border-top: 1px solid;
  content: "";
  flex-grow: 1;
}
.title-border:before {
  margin-right: 1rem;
}
.title-border:after {
  margin-left: 1rem;
}

/*----- header -----*/
#home {
  min-height: 100vh;
  background-image: url(../img/top2.jpg);
  background-size: cover;
  background-position: center;
}

.site-header {
  z-index: 1;
  height: 74px;
  display: flex;
  justify-content: space-between;
  /* background: rgba(255,255,255,0.5); */
  padding: 5px 10%;
  position: fixed;
  width: 100%;
  transition: .5s;
}
.transform {
  background: rgba(51, 51, 51, 0.5);
  color: #fff;
}

.logo img {
  height: 64px;
}

nav ul {
  display: flex;
  list-style: none;
  color: #fff;
  margin-left: 20px;
}

nav ul li {
  line-height: 64px;
  margin-right: 15px;
  font-size: 16px;
}

.title {
  font-size: 5rem;
}

.home-content {
  text-align: center;
  margin-top: 15%;
}


.nav_toggle {
  display: block;
  position: relative;
  width: 1.75rem;
  height: 1.5rem;
  margin-top: auto;
  margin-bottom: auto;
}
.nav_toggle i {
  z-index: 9;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #333;
  position: absolute;
  transition: transform .5s, opacity .5s;
}
.nav_toggle i:nth-child(1) {
  top: 0;
}
.nav_toggle i:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}
.nav_toggle i:nth-child(3) {
  bottom: 0;
}
.nav_toggle.show i:nth-child(1) {
  transform: translateY(10px) rotate(-45deg);
}
.nav_toggle.show i:nth-child(2) {
  opacity: 0;
}
.nav_toggle.show i:nth-child(3) {
  transform: translateY(-12px) rotate(45deg);
}

/*----- about our salon -----*/
#about {
  background-color: #fff;
}
.about-inner {
  display: flex;
}
.about-item {
 margin: 20px;
}

.our-salon {
  flex-basis: 40%;
}
.our-salon img {
  width: 100%;
}
.concept {
  flex-basis: 60%;
}

/*----- news -----*/
#news {
  background-color: rgba(152,145,145,.1);
}
.news-inner {
  display: flex;
}
.article {
  margin: 20px;
}
.article img {
  width: 100%;
}
.hover-parent {
  position: relative;
  /* margin-bottom: 30px; */
  overflow: hidden;
  cursor: pointer;
}
.hover-mask {
  position: absolute;
  top: 0;
  bottom: 10px;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  opacity: 0;
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 30px;
  /* margin-bottom: 7px; */
}
.hover-mask:hover {
  opacity: 1;
  transition: all 0.6s ease;
}
.hover-mask p{
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* .img_wrap img{
  width: 100%;
  transform: scale(1.1);
  cursor: pointer;
  filter: grayscale(100%);
  transition-duration: 0.5s;
}
.img_wrap img:hover{
  filter: grayscale(0);
  transition-duration: 0.5s;
} */

/*----- menu -----*/
.menu-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.menu-item {
 padding: 20px;
}


/*----- staff -----*/
#staff {
  background-color: rgba(152,145,145,.1);
}
.staff-inner {
  display: flex;
}
.staff-pic {
  flex-basis: 30%;
}
.staff-pic img {
  width: 80%;
}
.staff-name {
  flex-basis: 70%;
}
.staff-content {
  padding-top: 20px;
}
.staff-item {
  padding: 20px;
}

/*----- footer -----*/
footer {
  line-height: 80px;
  text-align: center;
  background-color: #fff;
}


/*----- responsive -----*/
@media screen and (max-width:600px) {
  h2 {
    font-size: 1.8rem;
  }
  p {
    font-size: 1.2rem;
  }
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 10rem;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(51, 51, 51, 0.5);
    /* transition: opacity .5s, visibility .5s; */
  }
  .nav.show {
    opacity: 1;
    visibility: visible;
  }
  .nav.show ul {
    margin-top: 74px;
    flex-direction: column;
    text-align: center;
  }
  .nav.show ul li {
    font-size: 36px;
    padding: 0;
    margin: 10px 0;
  }

  .about-inner {
    flex-direction: column;
  }
  .news-inner {
    flex-direction: column;
  }
  .menu-inner {
    display: flex;
    flex-direction: column;
  }
  .staff-inner {
    flex-direction: column;
  }
  .staff-pic img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 100% 0;
  }
  footer p {
    font-size: 0.8rem;
  }
}
@media screen and (min-width:601px) {
  .nav_toggle {
    display: none;
  }
}